doctype html
html
  head
    title Laba2
    link(href='style.css', rel='stylesheet')
    link(href='normalize.css', rel='stylesheet')
  body
    header
      nav.one
        ul
          li
            a#test(href='index.html') Личный блог ФИО
          li
            a(href='news.html') Новости
          li
            a(href='rozklad.html') Расписание
          li
            a(href='photo.html') Фотогаллерея
          li
            a(href='https://uk-ua.facebook.com/')  Ссылка на Coцсеть
      h2
        i Моя биография
      p
        img(src='images/pic1.png', alt='none')
      figcaption Подпись
      p
        i
          | Отто Эдуард Леопольд фон Бисмарк является наиболее важным немецким государственным и политическим деятелем 19-го века. Его служба оказала немаловажное влияние на ход европейской истории. Он считается основателем Германской империи. В течение почти трех десятилетий он формировал Германию: с 1862 по 1873 год в качестве премьер-министра Пруссии, а с 1871 по 1890 год в качестве первого канцлера Германии.
      h2
        i
          i Мои увелечения
      i
      p
    a(href='#', onclick='scroll(0,0); return false', title='наверх')  НАВЕРХ 
    title Laba2
    link(href='style.css', rel='stylesheet')
    link(href='normalize.css', rel='stylesheet')
    header
      nav.one
        ul
          li
            a#test(href='index.html') Личный блог ФИО
          li
            a(href='news.html') Новости
          li
            a(href='rozklad.html') Расписание
          li
            a(href='photo.html') Фотогаллерея
          li
            a(href='https://uk-ua.facebook.com/')  Ссылка на Coцсеть
      h2
        i Моя биография
      p
        img(src='images/pic1.png', alt='none')
      figcaption Подпись
      p
        i
          | Отто Эдуард Леопольд фон Бисмарк является наиболее важным немецким государственным и политическим деятелем 19-го века. Его служба оказала немаловажное влияние на ход европейской истории. Он считается основателем Германской империи. В течение почти трех десятилетий он формировал Германию: с 1862 по 1873 год в качестве премьер-министра Пруссии, а с 1871 по 1890 год в качестве первого канцлера Германии.
      h2
        i
          i Мои увелечения
      i
      p
    a(href='#', onclick='scroll(0,0); return false', title='наверх')  НАВЕРХ 
