doctype html
html
  head
    title Laba2
    link(href='style.css', rel='stylesheet')
    link(href='normalize.css', rel='stylesheet')
  body
    header
      nav.one
        ul
          li
            a(href='index.html') Личный блог ФИО
          li
            a(href='news.html') Новости
          li
            a#test(href='rozklad.html') Расписание
          li
            a(href='photo.html') Фотогаллерея
          li
            a(href='https://uk-ua.facebook.com/') Ссылка на Coцсеть
      h2
        i Мое рассписание
      i
      table(border='1')
        caption
          b Таблица рассписания
        tbody
          tr
            th Понедельник
            th Вторник
            th Среда
            th Четверг
            th Пятница
          tr
            th  Front end
            th  ОПИ 
            th  ВЧД 
            th  АВПЗ 
            th  БД 
          tr
            th  Мат ан
            th  ВЧД  
            th  Физ-ра 
            th  ПП 
            th  Анг яз
    a(href='#', onclick='scroll(0,0); return false', title='наверх')  НАВЕРХ 
